<!DOCTYPE html>
<html>
<head>
	<h1>ITS MEOW MEOWE FORTUNE TELLER </h1>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>meowmeow fortune teller </title>
</head>
<body>
<p>In the dimly lit corner of an ancient library, where shadows dance and whispers of old magic linger, resides Meomeoe, the enigmatic feline fortune teller. Cloaked in fur as dark as midnight and eyes that gleam with the wisdom of the ages, Meomeoe is no ordinary cat. With a flick of her elegant tail and a gaze that pierces through the veil of time, she offers glimpses into the tapestry of fate. Her purring hums like a mystical chant, guiding those who seek her counsel through the labyrinth of their futures. In her presence, the ordinary becomes extraordinary, as the world unfolds through the lens of her ancient, feline wisdom.</p>
<a href="{{url_for('fortune')}} ">do you want ur fortune?</a>
</body>
</html>
