<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Login - Fortune Teller</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <h1 class="text-center">Welcome to the Fortune Teller</h1>
        <form action="{{ url_for('index') }}" method="post">
            <label for="name">Name:</label>
            <input type="text" id="name" name="name" required>
            
            <label for="birth_month">Birth Month:</label>
            <input type="text" id="birth_month" name="birth_month" required>
            
            <input type="submit" value="Submit">
        </form>
    </div>
</body>
</html>
